<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is your Industry 4.0 workbench!</h2>
   <!--     <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="process-name">Add Process</label>
            <input type="text" id="process-name" class="form-control" aria-describedby="process-name" placeholder="Enter Process Name">
          </div>
          <div class="form-group">
            <label for="process-description">Process Description</label>
            <textarea class="form-control" id="process-description" aria-describedby="process-description" placeholder="Enter Process Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>-->
        <button id="submit" class="btn btn-primary float-right">Add a new Process</button>
    
        <br>
        <h3>Choose a process to monitor:</h3>
        <ul id="process-list" class="list-group">
          {{#each process}}
            <li data-id="{{this.id}}" class="list-group-item">
            <a href="process/{{this.id}}">{{this.Process_name}}</a>
            <button class="btn btn-danger float-right delete">delete</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
